<header>
    <div class="center-wrapper">
        <div class="logo-group">
            <div class="logo">
                <img src="/static/css/images/header/LOGO_NEW.png" alt="POLYTECH" style="height: 80px;">
            </div>
            <div class="moodle">
                <img src="/static/css/images/header/moodle123-01.svg" alt="Moodle" style="height: 30px;">
            </div>
        </div>

        <nav>
            <ul>
                <li><a href="#">Колледж</a></li>
                <li><a href="#">Талапкерлерге</a></li>
                <li><a href="#">Студенттерге</a></li>
                <li><a href="#">Ұстаздарға</a></li>
                <li><a href="#">Мемлекет</a></li>
                <li><a href="#">Мемлекет</a></li>
                <li><a href="#">IT HUB</a></li>
                <li><a href="#">Байланыс</a></li>
            </ul>
        </nav>

    </div>
</header>
